body{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-size: 100%;
	background: #FFF;    
	/* não deixa selecionar o texto */
	-webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}
/* escolher time */

#time-escolha{
	padding-right: 20px;
	background-color: #bbb;
	display: block;
	height: 220px;
	border: 1px solid gray;
	margin-left: -207px;
	justify-content: center;
}
#tamanho-letra{
	margin-left: 10px;
	padding: 5px 5px;
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
}

.btn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	width: 100%;
	height: 38px;
	padding: 9px 50px;
	border: 1px solid gray;
	color: white;
	margin: 10px;
	border-radius: 10px;
	cursor:pointer;
	background-color: black;
}
.btn:hover{
	color: #000;
	border: 2px solid black;
	background-color: #fff;
}

#btn-b{
	color: #FFF;
	background-color: #0066b8;
}
#btn-r{
	color: #FFF;
	background-color: #ff0000; 
}
#btn-b:hover{
	color: #fff;
	border: 2px solid white;
	background-color: #0066b8;
}
#btn-r:hover{
	color: #fff;
	border: 2px solid white;
	background-color: #ff0000; 
}
#btn-reset{
	display: none;
}



/* jogo */
#fundo{
	background: #dadada;
	height: 100vh;
}

#espaco-de-jogar{
	display: flex;
	align-items: center;
	justify-content: center;
}


#img-linhas{
	width: 600px;
	height: 600px;
}

/* locais de jogo */
	/*display: inline-block; inline é colunas e inline-flex é as linhas */
	/* 27cm de margin */
#spot-game{
	width: 534px;
	height: 534px;
	border: 3px solid gray;
	position: absolute;
}

.spot-peca-jogada{
	width: 150px;
	height: 150px;
	padding: 13px;
}


/* matriz  
	transform: translate(0%, 0%); (coluna, linha)*/
#spot-00{
	position: absolute;
	transform: translate(0%, 0%);
}
#spot-01{
	position: absolute;
	transform: translate(100%, 0%);
}
#spot-02{
	position: absolute;
	transform: translate(200%, 0%);
}
#spot-10{
	position: absolute;
	transform: translate(0%, 100%);
}
#spot-11{
	position: absolute;
	transform: translate(100%, 100%);
}
#spot-12{
	position: absolute;
	transform: translate(200%, 100%);
}
#spot-20{
	position: absolute;
	transform: translate(0%, 200%);
}
#spot-21{
	position: absolute;
	transform: translate(100%, 200%);
}
#spot-22{
	position: absolute;
	transform: translate(200%, 200%);
}


/* Jogadas */

.btn-jogada{
	border: 1px solid red;
	width: 160px;
	height: 160px;
	opacity : 0;
}

/* Peças */

.xis{
	width: 150px;
	height: 150px;
}

.bola{
	width: 150px;
	height: 150px; 
}